<%- include('../layout/header', headerOptions) -%>
<script>
  const route = { 
    device: {
      state: (id) => "<%= route.device.state(':id') %>".replace(':id',id),
      toggler: {
        last_eight_hours: (id) => "<%= route.device.toggler.last_eight_hours(':id') %>".replace(':id',id)
      },
      monitoring: {
        last_eight_hours: (id) => "<%= route.device.monitoring.last_eight_hours(':id') %>".replace(':id', id)
      }
    }
  }
  const viewDevices = {};
  const devices = JSON.parse('<%- JSON.stringify(data.devices) %>');
</script>
<main class="w-full h-full flex flex-col rounded-2xl shadow-lg border-2 border-zinc-800/50 overflow-hidden">
  <%- include('../components/menu', { active: 'Home' }) -%>

  <section class="flex-1 flex p-4">
    <% if(!auth_user.home_ip){ %>
      <div class="bg-zinc-800/60 flex-1 w-full h-full rounded-lg p-4 text-center text-lg flex flex-col items-center justify-center">
        <p class="block max-w-[22rem] leading-tight mb-4">
          Você ainda não configurou seu <strong>Home-IP</strong>.<br/>
          <small>
            Configure-o na página de perfil para poder sincronizar seus dispositivos.
          </small>
        </p>
        <a
          href="<%= route.user.profile() %>?section=configurar-home-ip"
          class="block text-center rounded-md bg-amber-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-amber-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-amber-600 mb-2"
        >Configurar Home-IP</a>
      </div>
    <% }else if(data.devices && data.devices.length > 0){ %>
      <div class="bg-white/5 py-24 sm:py-32 w-full overflow-auto" style="max-height: calc(100vh - 10rem);">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-3xl font-bold tracking-tight text-gray-400 sm:text-4xl">Seus dispositivos</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">Controle e monitore seus equipamentos de um jeito simples e automatizado.</p>
          </div>
          <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-700 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            <% for(const device of data.devices){ %>
              <article class="flex max-w-xl flex-col items-start justify-between">
                <%- include('../components/header-device', { device }) -%>
                <div class="group relative w-full p-2">
                  <h3 class="mt-1 text-lg font-semibold leading-6 text-gray-400">
                    <a href="#">
                      <span class="absolute inset-0"></span>
                      <%= device.title ?? '-- Não nomeado --'%>
                    </a>
                  </h3>
                  <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                    <%= device.description ?? '-- Sem descrição --' %>
                  </p>
                </div>
                <%- include('./partials/footer-device', { device }) -%>
              </article>
            <% } %>
          </div>
        </div>
      </div>
    <% }else{ %>
      <div class="bg-zinc-800/60 flex-1 w-full h-full rounded-lg p-4 text-center text-lg flex items-center justify-center">
        <p class="block max-w-[20rem] leading-tight">
          Você ainda não sincronizou nenhum dispositivo a sua conta.
        </p>
      </div>
    <% } %>
  </section>
</main>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
  const socket = io();
  const user_id = '<%= auth_user.id %>';
</script>
<script src="/js/services/device.js"></script>
<%- include('./partials/modal-device-details') -%>
<%- include('../layout/footer') -%>