<%- include('../layout/header', headerOptions) -%>
<main class="w-full h-full flex flex-col rounded-2xl shadow-lg border-2 border-zinc-800/50 overflow-hidden">
  <%- include('../components/menu', { active: 'Home' }) -%>

  <section class="flex-1 flex p-4">
    <% if(data.devices && data.devices.length > 0){ %>
      <div class="bg-white/5 py-24 sm:py-32 w-full overflow-auto" style="max-height: calc(100vh - 10rem);">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div class="mx-auto max-w-2xl lg:mx-0">
            <h2 class="text-3xl font-bold tracking-tight text-gray-400 sm:text-4xl">Seus dispositivos</h2>
            <p class="mt-2 text-lg leading-8 text-gray-600">Controle e monitore seus equipamentos de um jeito simples e automatizado.</p>
          </div>
          <div class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-700 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
            <% for(const device of data.devices){ %>
              <article class="flex max-w-xl flex-col items-start justify-between">
                <div class="flex max-md:flex-col max-md:w-full max-md:gap-1 items-center gap-x-4 text-xs">
                  <time datetime="2020-03-16" class="text-gray-500"><%= new Date(device.state_changed_at).toDateString() %></time>
                  <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">
                    <%= device.device_type.name %>
                  </a>
                </div>
                <div class="group relative">
                  <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-400 group-hover:text-gray-600">
                    <a href="#">
                      <span class="absolute inset-0"></span>
                      <%= device.title ?? '-- Não nomeado --'%>
                    </a>
                  </h3>
                  <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-600">
                    <%= device.description ?? '-- Sem descrição --' %>
                  </p>
                </div>
              </article>
            <% } %>
          </div>
        </div>
      </div>
    <% }else{ %>
      <div class="bg-zinc-800/60 flex-1 w-full h-full rounded-lg p-4 text-center text-lg flex items-center justify-center">
        <p class="block max-w-[20rem] leading-tight">
          Você ainda não sincronizou nenhum dispositivo a sua conta.
        </p>
      </div>
    <% } %>
  </section>
</main>
<%- include('../layout/footer') -%>