<header class="px-3 py-2 flex justify-between gap-4 w-full">
  <h2 class="text-lg font-semibold leading-7 text-amber-400">Energy Management
    
  </h2>

  <ul class="flex gap-1">
    <li>
      <a href="<%= route.home() %>" class="block py-2 px-3 <%= active === 'Home' ? 'bg-gray-900': 'hover:bg-gray-900' %> rounded-b-lg font-semibold">Home</a>
    </li>
    <li>
      <a href="<%= route.device.sync() %>" class="block py-2 px-3 <%= active === 'Sincronizar Dispositivos' ? 'bg-gray-900': 'hover:bg-gray-900' %> rounded-b-lg font-semibold">Sincronizar Dispositivos</a>
    </li>
    <li>
      <a href="<%= route.user.profile() %>" class="block py-2 px-3 <%= active === 'Perfil' ? 'bg-gray-900': 'hover:bg-gray-900' %> rounded-b-lg font-semibold">Perfil</a>
    </li>
    <li>
      <form method="POST" action="<%= route.auth.logout() %>">
        <button type="submit" class="block py-2 px-3 <%= active === 'Logout' ? 'bg-gray-900': 'hover:bg-gray-900' %> rounded-b-lg font-semibold">Logout</button>
      </form>
    </li>
  </ul>

</header>